<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Edit <%= hike.trailName %></title>
</head>

<body>
	<%- include('../partials/_navbar.ejs') %>	
	<h1>Edit <%= hike.trailName %></h1>
<div class="form-container">
    <form action="/hikes/<%= hike._id %>?_method=PUT" method="POST">
        <label for="trailName">Trail Name:</label>
        <input type="text" name="trailName" id="trailName" value="<%= hike.trailName %>" required />
        <label for="dateHiked">Date:</label>
        <input type="date" name="dateHiked" id="dateHiked" value="<%= hike.dateHiked %>"/>
        <label for="favorite">Add to Favorites?</label>
        <input type="checkbox" name="favorite" id="favorite" value="<%= hike.favorite %>">
        <button type="submit">Update Hike</button>
    </form>
</div>
</body>

</html>