<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= hike.trailName %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
  <main> 
    <div class="card-parent">	
      <div class="card-child">
  <h2>
      <%= hike.trailName %>
    </h2>
    <p>Hiked on <%= new Date(hike.dateHiked).toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: '2-digit'}) %>
    </p>
    <ul>
      <li><strong>Location: </strong><%= hike.location %>
      </li>
      <li><strong>Distance: </strong> <%= hike.distance %> miles</li>
      <li><strong>Elevation Gain: </strong><%= hike.elevationGain %> feet</li>
      <li><strong>Difficulty: </strong> <%= hike.difficulty.charAt(0).toUpperCase() + hike.difficulty.slice(1) %>
      </li>
      <li><strong>Route Type: </strong><%= hike.routeType.charAt(0).toUpperCase() + hike.routeType.slice(1) %>
      </li>

      <% if (hike.favorite) { %>
       <li>&#9733; Added to Favorites</li>
      <% } %></li>
    </ul>
    <a href="/hikes/<%= hike._id %>/edit">Edit Hike Info</a>
    <form class="delete-button" action="/hikes/<%= hike._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete hike</button>
    </form>
    </div>
    </div>
  </main> 
</body>

</html>