<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome, <%= user.username %>
    </h1>
    <h2>My Dashboard</h2>
    <div class="dashboard-container">
    <div class="dashboard-parent">
      <div class="dashboard-child">
    <h3>My Hikes</h3>
    <ul>
      <% hikes.forEach(hike=> { %>
        <li><a href="/hikes/<%= hike._id %>">
            <%= hike.trailName %>
          </a></li>
        <% }) %>
    </ul>
  </div>
  </div>
  <div class="dashboard-parent">
    <div class="dashboard-child">
    <h3>My Trips</h3>
    <ul>
      <% trips.forEach(trip=> { %>
        <li><a href="/trips/<%= trip._id %>">
            <%= trip.tripName %>
          </a></li>
        <% }) %>
    </ul>
  </div>
  </div>
</div>
</body>

</html>