<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip: <%= trip.tripName %>
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <main> 
      <div class="card-parent">	
        <div class="card-child">
        <h2>Trip: <%= trip.tripName %>
        </h2>
        <p><strong>Description: </strong><%= trip.description %>
        </p>
        <p><strong>Trip Duration: </strong><%= trip.tripDuration %>
        </p>
        <p><strong>Hikes: </strong></p>
        <ul>
          <% if (hikes.length > 0) { %>
             <% hikes.forEach(hike => { %>
               <li class="hike-list"><%= hike.trailName %></li>
             <% }); %>
          <% } %>
          </ul>
        <a href="/trips/<%= trip._id %>/edit">Edit Trip</a>
        <form class="delete-button" action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Trip</button>
        </form>
        </div>
      </div>
    </main>
</body>

</html>